@media screen and (max-width:1700px){
 
  .movie_frame .movie_box{width: 30%;}
}

@media screen and (max-width:1400px){
  .wrap{height: 100%;}
  
  .gnb{padding-right: 80px;}
  .wrap .backgroundImg img{width: 100%; min-height: 100%;}

  .searchBox input{width: 250px;}

  .detailWrap .detailImg{width: 40%;}
  .detailWrap .detailTxt{width: 60%;}
}

@media screen and (max-width:1200px){
  .searchFrame{width: 100%; height: 100px;}
  .movie_frame{width: 100%;}
  .container{display: flex; flex-wrap: wrap; justify-content: center;}
  .recent-movie-wrap{width: 30%; padding: 10px;}
  .detailWrap .detailImg{width: 40%; height: 60%;}

}

@media screen and (max-width:800px){
  
  .wrap .center .logoBox{width: 30%; height: auto; margin: 50px 0 30px;}

}

@media screen and (max-width:650px){
  .recent-movie-wrap{width: 40%; padding: 10px;}
  .gnb{margin: 0 auto; padding: 0;}
  .gnb li{margin: 0 auto;}
  .wrap.search{flex-direction: column;}
  
  
  .wrap.search .searchBox h2{font-size: 20px;}

  .movie_frame .movie_box{width: 50%;}
  .movie_frame .movie_box .director{display: none;}

  .wrap.genre .center{padding: 5px;}
  .genre-tab{width: 100%;}
  .genre-tab .tab p{display: none;}
  .genre-section{margin: 0;}

  .detailLogo{width: 30%;}
  .detailWrap .detail-box{flex-wrap: wrap;}
  .detailWrap .detailImg{width: 100%;}
  .detailWrap .detailTxt{width: 100%; margin-top: 20px;}
  .detailWrap .detailTxt h3{text-align: center; font-size: 20px;}
  .detailWrap .detailTxt .genre{text-align: center;}
  .detailWrap .detailTxt .rating{text-align: center; font-size: 16px;}

}

@media screen and (max-width:400px){
  .wrap{overflow: hidden;}
  .searchFrame{width: 100%; height: 100px;}
  .movie_frame .movie_box p{font-size: 12px;}
  
  .searchBox input{width: 150px;}
  .searchBox h2{font-size: 22px;}
  .wrap.search .searchBox input{width: 100px; border:3px solid #2DB400;}

  .wrap.recent h2{font-size: 18px;}
}

