/* google font style */
@import url('https://fonts.googleapis.com/css2?family=Shrikhand&display=swap');
@font-face {
  font-family: 'RIDIBatang';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_twelve@1.0/RIDIBatang.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

/* reset css */
*{margin: 0; padding: 0; box-sizing:border-box;}
ol , ul, li{list-style: none;}
a{text-decoration: none; color: #555;}
body{font-size: 14px; font-family: "RIDIBatang", sans-serif; color: #555;}
input[type="checkbox"]{-webkit-appearance: auto; border-radius: 0; border: 1px solid #000;}
img{display: block;}
button, input, textarea{outline: 0; font-family: "RIDIBatang"; background: none; outline: 0; border: 0;}
.clear::after{clear: both; display: block; content: '';} 
.center{width: 100%; max-width: 980px; height: auto; margin: auto;}
input::placeholder, textarea::placeholder{color: #444;}
_input:focus , textarea:focus{background: #f8f8f8;}